

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-flex; position: fixed ; float: right;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                
                    <form action="/info" method="GET">
                        <button class="nav-link active" aria-current="page" style="cursor:pointer;color:rgb(30, 216, 30);" type="submit">Info</button>
                    </form>
                
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" style="cursor:pointer; color: rgb(75, 12, 223);" type="button" onclick="document.location='#'">Find</button>

              </li>
              <li class="nav-item">
                <form action="/admin_stats/" method="GET">
                    <button class="nav-link active" aria-current="page" style="cursor:pointer;color:rgb(50, 241, 107);" type="submit">Stats</button>
                </form></li><li class="nav-item">
                <form action="/logout/" method="post">

                    <button class="nav-link active" aria-current="page" style="cursor:pointer; border: 0.05cm solid; color:rgb(195, 15, 15);" type="submit">Logout</button>
                </form>
              </li>
              <li class="nav-item">

    </div>
              </li>
            </ul>
            <form method="POST" action="/find_sponsors_influencer/">
                <div class="form-row">
                  <div class="col-md-8 mb-3 form-inline">
                    <input type="text" class="form-control" name="search" placeholder="Search...">
                  </div>
                  <div class="col-md-4 mb-3 form-inline">
                    <select class="form-control" name="spo_inf">
                      <option value="">Filter by...</option>
                      <option value="sponsors">Sponsors</option>  
                      <option value="influencers">Influencers</option>
                    </select>
                  </div>
                  
                  </div>
                </div>
                <button type="submit" class="btn btn-primary form-inline">Search</button>
              </form>
          </div>
        </div>
      </nav>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        
    </style>
</head>
<body><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="mt-5">
        <h2>Search Results:</h2>
        <ul class="list-group">
          {% for result in results %}
          {%if inf==1 %}
            <li class="list-group-item">Influencer username :{{ result.name }} Influencer Niche : {{ result.niche }}  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#influencerModal{{ result.id }}">
                View
            </button> <form action="/flag_inf/{{ result.username }}" method="POST">
                <button type="submit" class="btn btn-danger">Flag</button>
            </form>
         </li>

          {%endif%}
          {% if spo ==1%}
          <li class="list-group-item">Sponsor Name :{{ result.company_name }}   Sponsor Industary : {{ result.industry }} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sponsorModal{{ result.id }}">
            View
        </button> <form action="/flag_sponsor/{{ result.username }}" method="POST">
            <button type="submit" class="btn btn-danger">Flag</button>
        </form></li>

          {%endif%}
          {% endfor %}
        </ul>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>

    <h1>Admin Dashboard</h1>
    <H3>Hello Admin !!!</H3>

    <h2>Sponsors Details</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
            <th>Industry</th>
            <th>Username</th>
            <th>Flag</th>
        </tr>
        {% for sp in sponsor %}
        <tr>
            {% if sp.flagged==0%}

            <td>{{ sp.id }}</td>
            <td>{{ sp.company_name }}</td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sponsorModal{{ sp.id }}">
                    View
                </button>
                <!-- Modal -->
                <div class="modal fade" id="sponsorModal{{ sp.id }}" tabindex="-1" aria-labelledby="sponsorModalLabel{{ sp.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sponsorModalLabel{{ sp.id }}">Sponsor Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Company Name: {{ sp.company_name }}</h3>
                                <h3>Industry: {{ sp.industry }}</h3>
                                <h3>Username: {{ sp.username }}</h3>
                                <h3>Sponsor Budget: {{ sp.budget }}</h3>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>{{ sp.industry }}</td>
            <td>{{ sp.username }}</td>
            <td>
                <form action="/flag_sponsor/{{ sp.username }}" method="POST">
                    <button type="submit" class="btn btn-danger">Flag</button>
                </form>
            </td>
        </tr>
        {%endif%}
        {% endfor %}
    </table>
    <h2>Flagged Sponsors Details</h2>
<table> 
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
        <th>Industry</th>
        <th>Username</th>
        <th>Flag</th>
    </tr>
    {% for sp in sponsor %}
    <tr>
        {% if sp.flagged==1%}
        <td>{{ sp.id }}</td>
        <td>{{ sp.company_name }}</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sponsorModal{{ sp.id }}">
                View
            </button>
            <!-- Modal -->
            <div class="modal fade" id="sponsorModal{{ sp.id }}" tabindex="-1" aria-labelledby="sponsorModalLabel{{ sp.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sponsorModalLabel{{ sp.id }}">Sponsor Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Company Name: {{ sp.company_name }}</h3>
                            <h3>Industry: {{ sp.industry }}</h3>
                            <h3>Username: {{ sp.username }}</h3>
                            <h3>Sponsor Budget: {{ sp.budget }}</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>{{ sp.industry }}</td>
        <td>{{ sp.username }}</td>
        <td>
            <form action="/unflag_sponsor/{{ sp.username }}" method="POST">
                <button type="submit" class="btn btn-warning">UnFlag</button>
            </form>
        </td>
    </tr>
    {%endif%}
    {% endfor %}



</table>
    <h2>Influencers Details</h2>
    <table>
        <tr>

            <th>ID</th>
            <th>Influencer Name</th>
            <th>Username</th>
            <th>Details</th>
            <th>Unflag</th>
        </tr>
        {% for x in influencer %}
        <tr>{% if x.flagged==0%}

            <td>{{ x.id }}</td>
            <td>{{ x.influencer_name }}</td>
            <td>{{ x.username }}</td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#influencerModal{{ x.id }}">
                    View
                </button>
                <!-- Modal -->
                <div class="modal fade" id="influencerModal{{ x.id }}" tabindex="-1" aria-labelledby="influencerModalLabel{{ x.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="influencerModalLabel{{ x.id }}">Influencer Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Influencer Name: {{ x.influencer_name }}</h3>
                                <h3>Username: {{ x.username }}</h3>
                                <h3>Target Audience {{ x.target_audience }}</h3>
                                

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <form action="/flag_inf/{{ x.username }}" method="POST">
                    <button type="submit" class="btn btn-danger">Flag</button>
                </form>
            </td>
        </tr>
        {%endif%}
        {% endfor %}
    </table>
    
</table>
<h2>Flagged Influencers Details</h2>
<table>
    <tr>

        <th>ID</th>
        <th>Influencer Name</th>
        <th>Username</th>
        <th>Details</th>
        <th>Unflag</th>
    </tr>
    {% for x in influencer %}
    <tr>            {% if x.flagged==1%}

        <td>{{ x.id }}</td>
        <td>{{ x.influencer_name }}</td>
        <td>{{ x.username }}</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#influencerModal{{ x.id }}">
                View
            </button>
            <!-- Modal -->
            <div class="modal fade" id="influencerModal{{ x.id }}" tabindex="-1" aria-labelledby="influencerModalLabel{{ x.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="influencerModalLabel{{ x.id }}">Influencer Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Influencer Name: {{ x.name }}</h3>
                            <h3>Username: {{ x.username }}</h3>
                            <h3>Target Audience {{ x.target_audience }}</h3>
                            

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <form action="/unflag_inf/{{ x.username }}" method="POST">
                <button type="submit" class="btn btn-warning">Unflag</button>
            </form>
        </td>
    </tr>
    {%endif%}

    {% endfor %}
</table>

</body>
</html>
