<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    
   <form action="/info" method="GET">
    <button style="cursor:pointer; border: 0.05cm solid; color:rgb(30, 216, 30);" type="submit">Info</button>
</form>
    <button style="cursor:pointer; color: rgb(75, 12, 223);" type="button" onclick="document.location='#'">Find</button>
    <form action="/Stats" method="GET">
        <button style="cursor:pointer; border: 0.05cm solid; color:rgb(50, 241, 107);" type="submit">Stats</button>
    </form><form action="/login" method="GET">
        <button style="cursor:pointer; border: 0.05cm solid; color:rgb(29, 201, 57);" type="submit">Logout</button>
    </form>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <H3>Hello Admin !!!</H3>

    <h2>Sponsors Details</h2>
    <table>
        <tr><th>ID</th>
            <th>Name</th>
            <th>BUDGET</th>
            <th>INDUSTARY</th>
            <th>USERNAME</th>
            
        </tr>
        {% for sp in sponsor %}
        <tr>
            <td>{{ sp.id }}</td>
            <td>{{ sp.company_name }}</td>
            <td>{{ sp[2] }}</td>
            <td>{{ sp[3] }}</td>
            <td>{{ sp[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Influencers Details</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Influencer_Name</th>
            <th>USERNAME</th>
            <th>Target Audience</th>
            <th>Platform YouTube</th>
            <th>Platform Instagram</th>
            <th>Platform Twitter-X</th>
            

        </tr>
        {% for x in influencer %}
        <tr>
            <td>{{ x[0] }}</td>
            <td>{{ x[1] }}</td>
            <td>{{ x[6] }}</td>
            <td>{{ x[2] }}</td>
            <td>{{ x[3] }}</td>
            <td>{{ x[4] }}</td>
            <td>{{ x[5] }}</td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>
