
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Influencer Dashboard</title>
    <style> 
        .custom-button {
            cursor: pointer;            color:black;            padding: 10px 20px;            margin: 5.01px;            border-radius: 4px;
            font-size: 16px;            transition: background-color 0.3s, box-shadow 0.3s;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome, Buddy!</h1>
    <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-flex; position: fixed ; float: right;">

    <button class="custom-button " style="cursor:pointer;border: 0.05cm solid; color:rgb(67, 103, 234);" type="button" onclick="document.location='sponsor_find.html'">Find ?</button>
    <button class="custom-button " style="cursor:pointer;border: 0.05cm solid; color:rgb(77, 231, 16);" type="button" onclick="document.location='stats.html'">Stats</button>
    <button class="custom-button " style="cursor:pointer; border: 0.05cm solid; color:rgb(195, 15, 15);" type="button" onclick="document.location='login.html'">Logout</button>
    </div>
    <h1>Profile</h1>
    <ul>
        <img src="profile.jpg" alt="image">
        <h4>Name: {{influencer.influencer_name}}</h4>
        <h4>Target Audience: {{influencer.target_audience}}</h4>
        <h4>Earning: {{influencer.Earning}}</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
            Edit Profile
        </button>
        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/update_profile/{{influencer.username}}/" method="POST">
                            <div class="mb-3">
                                <label for="influencerName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="influencerName" name="influencer_name" value="{{influencer.influencer_name}}">
                            </div>
                            <div class="mb-3">
                                <label for="targetAudience" class="form-label">Target Audience</label>
                                <input type="text" class="form-control" id="targetAudience" name="target_audience" value="{{influencer.target_audience}}">
                            </div>
                            <div class="mb-3">
                                <label for="earning" class="form-label">Earning</label>
                                <input type="text" class="form-control" id="earning" name="earning" value="{{influencer.Earning}}">
                            </div>
                            <button type="submit" class="btn btn-success">Save changes</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </ul>

    <h2>Active Campaigns</h2>
    <!-- printing active campaigns -->
    {% for campaign in campaigns %}
    {% if campaign.influencer_decision == 'accept' %}
    <span>
        <li>Campaign Name: {{ campaign.name }} Campaign Status: {{ campaign.status }}</li>
    </span>
    <div class="campaign" data-start-date="{{ campaign.start_date }}" data-end-date="{{ campaign.end_date }}">
        <ul>
            <li>Campaign Name: {{ campaign.name }}</li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#campaignModal{{ campaign.id }}">
                View Details
            </button>

            <!-- Modal -->
            <div class="modal fade" id="campaignModal{{ campaign.id }}" tabindex="-1" aria-labelledby="campaignModalLabel{{ campaign.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="campaignModalLabel{{ campaign.id }}">Campaign Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Campaign Name: {{ campaign.name }}</h3>
                            <h3>Campaign Description: {{ campaign.description }}</h3>
                            <h3>Campaign Start Date: {{ campaign.start_date }}</h3>
                            <h3>Campaign End Date: {{ campaign.end_date }}</h3>
                            <h3>Campaign Status: {{ campaign.status }}</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    {% endif %}
    {% endfor %}

    <h2>New Campaigns</h2>
    <!-- printing active campaigns -->
    {% for campaign in campaigns %}
    {% if campaign.influencer_decision == 'pending' %}
    <span>
        <li>Campaign Name: {{ campaign.name }} Campaign Status: {{ campaign.status }}</li>
    </span>
    <div class="campaign" data-start-date="{{ campaign.start_date }}" data-end-date="{{ campaign.end_date }}">
        <ul>
            <li>Campaign Name: {{ campaign.name }}</li>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#campaignModal{{ campaign.id }}">
                View Details
            </button>

            <!-- Modal -->
            <div class="modal fade" id="campaignModal{{ campaign.id }}" tabindex="-1" aria-labelledby="campaignModalLabel{{ campaign.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="campaignModalLabel{{ campaign.id }}">Campaign Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Campaign Name: {{ campaign.name }}</h3>
                            <h3>Campaign Description: {{ campaign.description }}</h3>
                            <h3>Campaign Start Date: {{ campaign.start_date }}</h3>
                            <h3>Campaign End Date: {{ campaign.end_date }}</h3>
                            <h3>Campaign Status: {{ campaign.status }}</h3>
                        </div>
                        <div class="modal-footer">
                            <form action="/accept/{{ campaign.id }}/{{influencer.id}}/" method="POST">
                                <button type="submit" class="btn btn-success">Success</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/reject/{{ campaign.id }}/{{influencer.id}}/" method="POST">
                                <button type="submit" class="btn btn-danger">Flag</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>
